.khan__buy-link {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .3s linear;
}

.khan__buy-link:hover {
  opacity: .6;
}
